$primary-color:rgba(94, 80, 63, 0.81);
$secondary-color:rgba(242, 244, 243, 1);


.sidebar{
    width: 260px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
    padding-left: 30px;
}

.sidebar_top{
    width: 100%;
    height: 70px;
    line-height:70px ;

    h1{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        column-gap: .5rem;
        color: $primary-color;
    }
    i{
        font-weight: 500;
    }
}

.sidebar_content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 4%);
    margin-top: 40px;
}

.nav_item{
    display: flex;
    flex-direction: column;

    hr{
        margin-block: 1rem;
        color: $primary-color;
    }

    span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .badge{
        background-color: white;
        padding: 2px;
        color: $primary-color;
        border-radius: 20px;
        width: 20px;
        height: 20px;
    }
}

.menu{
    height: 80%;
}



.nav_link,.sidebar_bottom span{
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: .6rem;
    padding-inline: 3rem;
    padding-block:.6rem ;
    border-radius: 20px;
    color: $primary-color;
}
.logout span{
    color: red;
    cursor: pointer;
    padding-inline: 0;
}

.nav_active{
    background-color: $primary-color;
    color: $secondary-color;
}

.nav_list{
    display: flex;
    align-items: center;
}

@media screen and (max-width:1100px) {
    .sidebar{
        width: 80px;
        padding-left: 0px;
    }
    .sidebar_top{
        display: none;
    }
    .sidebar_content{
        align-items: center;
    }
    .menu{
        height: 60%;
    }
    .nav_item{

        .nav_link_label{
            display: none;
        }
    }
    .nav_link,.sidebar_bottom span{
        margin-bottom: .6rem;
        padding-inline: 1rem;
        border-radius: 20px;
        color: $primary-color;
    }
    .nav_active{
        background-color: $primary-color;
        color: $secondary-color;
    }
    .logout span{
        color: red;
        cursor: pointer;

        .logout_label{
            display: none;
        }
        
    }
}