@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800&display=swap');

body {
  background-color: #F2F4F3;
  font-family: 'Poppins', sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }

}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}