.cars_wrapper1 {
    padding-top: 100px;
    max-width: 1500px;
    margin: auto;
}


.car_fleets {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    row-gap: 1.4rem;

    h3 {
        font-size: 35px;
        color: #5e503f;
    }

}

.car_cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
}


.filter_sec {
    display: flex;
    justify-content: center;

    .filter_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: .5rem;

        .search {
            display: flex;
            align-items: center;
            column-gap: .3rem;

            input {
                padding: .3rem .5rem;
                width: 200px;
                border-radius: 20px;
                border: solid 1px #5e503f;

                &:focus {
                    outline: solid 1px #5e503f;
                }
            }

            span {
                font-size: 20px;
                color: #5e503f;
                cursor: pointer;
                transition: all .2s ease;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .3rem;

                &:hover {
                    background-color: #5e503f;
                    color: white;
                }
            }
        }
    }
}

.filter_span {
    font-size: 25px;
    color: #5e503f;
    cursor: pointer;
    transition: all .2s ease;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;

    &:hover {
        background-color: #5e503f;
        color: white;
    }
}

@media screen and (max-width:1000px) {
    .car_fleet_wrapper {
        padding: 0rem;
    }
}

@media screen and (min-width:1500px) {
    .car_fleets {
        max-width: 1200px;
    }

    .car_cards {
        justify-content: center;
        gap: 2rem;
    }
}